@{
    ViewData["Title"] = "Home Page";
}
<section id="bg-home">
        <div class="container">
            <div id="home-heading-content">
                <h1 id="home-heading"> Download/Read<br>Free/Paid Books</h1>

                <div id="home-text">
                    <p id="home-p">Today a reader. Tomorrow a leader.
                </div>
            </div>
        </div>
    </section>
    <!--Home Ends-->
    <!--About-->
    <section class="about">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <!--about left-->
                    <div class="col-xl-4 xol-lg-4 col-md-4 col-sm-4">
                        <div class="general-heading text-left">
                            <h3>About <br>Book Keeper</h3>
                        </div>
                    </div>
                    <!--about left end-->
                    <!--about right-->
                    <div class="col-xl-8 xol-lg-8 col-md-8 col-sm-8">
                        <div id="about-right">
                            <p>Book Keeper is a Place Where Once you learn to read books, you will be forever free.</p>
                            <p>We are Book Keeper...!</p>
                        </div>
                    </div>
                    <!--about right end-->
                </div>
            </div>
        </div>
    </section>
    <!--About Ends-->
    <!--Works-->
    <section class="work">
        <div class="content-box-md ">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="general-heading work-head">
                        <h3>How it Works</h3>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <!--work item-01-->
                    <div class="col-md-4 text-center">
                        <div class="about-item-01  ">
                            <div class="about d-flex justify-content-center">
                                <div class="work-content-img">
                                    <img src="~/user/images/homepage/download.png" alt="download" class="img-responsive img-circle">
                                </div>
                            </div>
                            <div class="filter-heading work-content">
                                <h4>Download Free/Paid Books</h4>
                                <p>Get Material for your <br>Cource etc</p>

                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="login"  class="btn btn-primary btn-head"  type="button">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Works Ends-->
    <!--Coustomers-->
    <section id="customer">
        <div class="content-box-md">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="general-heading">
                        <h3>What Our Readers are Saying</h3>
                    </div>
                </div>
                <div class="customer-up-box">
                    <div class="row">
                        <!--Customer 01-->
                        <div class="col-md-6">
                            <div class="customer-box">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
                                        <img id="img" src="~/user/images/homepage/customer-1.png" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-8">
                                        <div class="filter-heading author-name-des">
                                            <h4>Watter Meller</h4>
                                            <h6>Founder & CEO,Matrix Group</h6>
                                        </div>
                                    </div>
                                    <div class="cust-p col-md-12">
                                        <span>
                                            <p>"Book Keeper is a Great Place To Learn..."</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Customer 02-->
                        <div class="col-md-6">
                            <div class="customer-box">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <img id="img" src="~/user/images/homepage/customer-2.png" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-10 col-sm-10 ">
                                        <div class="filter-heading author-name-des">
                                            <h4>Jonney Riley</h4>
                                            <h6>Employee,Curious Snacks</h6>
                                        </div>
                                    </div>
                                    <div class="cust-p col-md-12">
                                        <span>
                                            <p>"Book Keeper Delivers Great Content With Affordable Price."</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customer-down-box">
                    <div class="row">
                        <!--Customer 03-->
                        <div class="customers col-md-6">
                            <div class="customer-box">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img id="img" src="~/user/images/homepage/customer-3.png" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <div class="filter-heading author-name-des">
                                            <h4>Amilia Luna</h4>
                                            <h6>Teacher,Saint Joseph High School</h6>
                                        </div>
                                    </div>
                                    <div class="cust-p col-md-12">
                                        <span>
                                            <p>"The One Stop Solution of Your Problem."</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Customer 04-->
                        <div class="customers col-md-6 ">
                            <div class="customer-box">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <img id="img" src="~/user/images/homepage/customer-4.png" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-10 col-sm-10 ">
                                        <div class="filter-heading author-name-des">
                                            <h4>Daniel Cardos</h4>
                                            <h6>Software Engineer,Infinitum Company</h6>
                                        </div>
                                    </div>
                                    <div class="cust-p col-md-12">
                                        <span>
                                            <p>"Great Teamwork and Effort."</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    